<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}} - API Documentation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../css/docs.css">
    {{{redocHead}}}
  </head>
  <body>
    <a class="back-link" href="../../index.html">&#8592; All APIs</a>
    {{{redocHTML}}}
  </body>
</html>
